html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(211, 10%, 10%);
    color: #fff;
}

a, a:visited {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    padding: 0.1em 0.2em;
}

#sequence {
    position: fixed;
}

#links {
    position: fixed;
    right: 0;
    max-height: 75%;
    overflow: auto;
    padding: 0.2em 0.4em;
    background-color: hsl(211, 10%, 20%);
}

#sequence li {
    color: #fff;
    float: left;
    margin: 0.1em;
}

#sequence li.goal {
    border: 0.1em solid red;
    margin: 0;
}

#sequence.active li {
    cursor: pointer;
    float: none;
    margin: 0.1em;
}

#chart #bound { opacity: 0; }

#chart path                   { opacity: 0.8; }
#chart path.goalPath          { opacity: 1; }
#chart.focusing path          { opacity: 0.2; }
#chart.focusing path.goalPath { opacity: 0.4; }
#chart.focusing path.focus    { opacity: 1; }

#chart path.goal { stroke: red; }

#log { margin: 0 auto; }
#log td { padding: 0.2em 0.5em; }

.fillColor1 { fill: hsl(211, 75%, 35%); }
.fillColor2 { fill: hsl(211, 75%, 40%); }
.fillColor3 { fill: hsl(211, 75%, 45%); }
.fillColor4 { fill: hsl(211, 75%, 50%); }

.bgColor1 { background-color: hsl(211, 50%, 30%); }
.bgColor2 { background-color: hsl(211, 50%, 35%); }
.bgColor3 { background-color: hsl(211, 50%, 40%); }
.bgColor4 { background-color: hsl(211, 50%, 45%); }
