@import "../../../node_modules/hsluv-sass/src/_hsluv";

$normalH: 211; // the normal state hue
$goalH: 155;   // the goal state hue
$highH: 180;   // highlight hue

$fillSat: 100%;
$bgSat: 75%;
$fgSat: 25%;

@mixin bgColor($hue, $light) {
    background-color: hsluv($hue, $bgSat, percentage($light));
    color: hsluv($hue, $fgSat, 75%);

    a {
        color: hsluv($hue, 90%, 85%);
        &:hover { color: hsluv($hue, 90%, 95%); }
        &:active { text-decoration: underline; }
    }

    summary {
        color: hsluv($hue, 90%, 85%);
        cursor: pointer;
        &:hover { color: hsluv($hue, 90%, 95%); }
        &:active { text-decoration: underline; }
    }
}

html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}

table, thead, tbody, tfoot, tr, th, td {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
}

body {
    background-color: hsluv($normalH, 10%, 10%);
    color: hsluv($normalH, 10%, 100%);
}

select {
    background-color: hsluv($normalH, 10%, 20%);
    color: hsluv($normalH, 10%, 100%);
    border: none;
}

a, a:visited {
    color: hsluv($highH, 80%, 60%);
    text-decoration: none;
    &:hover { color: hsluv($highH, 80%, 90%); }
    &:active { text-decoration: underline; }
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        padding: 0.1em 0.2em;
    }
}

#sequence {
    position: fixed;

    li {
        float: left;
        margin: 0.1em;
        &.goal {
            border: 0.1em solid hsluv($highH, 100%, 80%);
            margin: 0;
        }
    }

    &.active li {
        cursor: pointer;
        float: none;
        text-align: right;
        margin: 0.1em;
    }
}

nav {
    position: fixed;
    right: 0;
    max-height: 75%;
    overflow: auto;
    padding: 0.2em 0.4em;
    background-color: hsluv($normalH, 10%, 20%);
    color: hsluv($normalH, 10%, 80%);

    select {
        background-color: hsluv($normalH, 10%, 30%);
    }
}

#stats {
    td { padding: 0 0.1em; }
    td:first-child { text-align: right; }
}

#chart {
    #bound { opacity: 0; }
    path.goal { stroke: hsluv($highH, 100%, 80%); }
    path { opacity: 0.8; }
    &.focusing {
        path       { opacity: 0.2; }
        path.focus { opacity: 1; }
    }
}

#log {
    margin: 0 auto;
    th, td { padding: 0.2em 0.5em; }
    td {
        vertical-align: top;
        white-space: pre;
        font-family: monospace;
    }
    th {
        @include bgColor($normalH, 0.4);
        border-bottom: 0.1em solid hsluv($highH, $bgSat, 50%);
        text-align: left;
    }
    th.ip, td.ip { text-align: right; }
    td details {
        display: inline;
        &[open] { display: block; }
        summary { display: inline; }
        summary::-webkit-details-marker { display: none; }
        summary::after { content: "..."; }
        &[open] summary::after { content: ""; }
    }
}

.fillColor1 { fill: hsluv($normalH, $fillSat, 30%); }
.fillColor2 { fill: hsluv($normalH, $fillSat, 35%); }
.fillColor3 { fill: hsluv($normalH, $fillSat, 40%); }
.fillColor4 { fill: hsluv($normalH, $fillSat, 45%); }

.goalPath.fillColor1, .goal.fillColor1 { fill: hsluv($goalH, $fillSat, 35%); }
.goalPath.fillColor2, .goal.fillColor2 { fill: hsluv($goalH, $fillSat, 40%); }
.goalPath.fillColor3, .goal.fillColor3 { fill: hsluv($goalH, $fillSat, 45%); }
.goalPath.fillColor4, .goal.fillColor4 { fill: hsluv($goalH, $fillSat, 50%); }

.bgColor1 { @include bgColor($normalH, 0.25); }
.bgColor2 { @include bgColor($normalH, 0.30); }
.bgColor3 { @include bgColor($normalH, 0.35); }
.bgColor4 { @include bgColor($normalH, 0.40); }

.goalPath.bgColor1, .goal.bgColor1 { @include bgColor($goalH, 0.25); }
.goalPath.bgColor2, .goal.bgColor2 { @include bgColor($goalH, 0.30); }
.goalPath.bgColor3, .goal.bgColor3 { @include bgColor($goalH, 0.35); }
.goalPath.bgColor4, .goal.bgColor4 { @include bgColor($goalH, 0.40); }
