<!doctype html>

<meta charset="utf-8">
<title>StackVM Trace Sunburst</title>

<link rel="stylesheet" type="text/css" href="sunburst.rollup.css">

<body>

<main>
<ul id="sequence"></ul>
<nav>
    <select id="root" style="display: none" title="Select Root Machine"></select>
    <table id="stats"></table>
    <div id="links"></div>
</nav>
<svg id="chart"></svg>
<table id="log" style="display: none"></table>
</main>

<script>var data = {{ . }};</script>
<script src="sunburst.rollup.js" class="main" data-var="data"></script>

</body>
